<html>
<div class="jumbotron">
    <h1>Participez à la nouvelle conference "{{ conference.title }}"</h1>
</div>

<span>{{ conference.content }}</span>

<span> Aura lieu le {{ conference.meetingDate|date('Y-m-d à H:i') }} </span>

Hosted by MEETWE
</html>